project:
  type: website
  output-dir: docs

website:
  title: "VSE"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: syllabus.qmd
        text: Syllabus
      - href: slides.qmd
        text: "Course Materials"
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



